# Next.js
/.next/
/out/
/build

# Production
/node_modules
/.env
/.env.local
/.env.production
/.env.development.local
/.env.test.local
/.env.production.local

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*
firebase-export*

# System
.DS_Store
Thumbs.db
*.swp
*.log
.vscode/
.idea/
